*{
    
}


.chatbot{
    /*  width: auto; */
    /* height: 500px; */
    align-items:flex-start;
    border: 10px solid greenyellow;
    display: flex;
    background-color: grey;

   
}

.Chat-bar img{
    width: auto;
    height: auto;
    cursor: pointer;
}

.chat-open{
    max-height: 0;
    overflow: hidden;
}
.container{
    border: 10px solid red;
}

.Chat-bar{
    position: fixed;
    bottom: 0;
    right: 5%;
    
}
.bot-info{
    padding-left: 10px;
}