*{
    
}


.chatbot{
    /*  width: auto; */
    /* height: 500px; */
    align-items:flex-start;
    border: 10px solid greenyellow;
    display: flex;
    background-color: grey;

   
}

.Chat-bar img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.Chat-bar{
    justify-content: start;
    padding: 15px;
    align-items: center; 
    display: table;
    background-color: aqua;
    
    
}
.bot-info{
    padding-left: 10px;
}