*{

    box-sizing: border-box;

}

body{

    min-height: 100vh;

}


containter{
    display: flex;
    align-items: center;
}


.chatbot{
    /*  width: auto; */
    /* height: 500px; */
    align-items:flex-start;
    border: 10px solid greenyellow;
    display: flex;
    background-color: grey;

   
}

.Chat-bar img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.tChat-bar top{
    justify-content: start;
    padding: 15px;
    align-items: center; 
    display: table;
    background-color: aqua;
    width:100%
    
    
;


    
    
}
.bot-info{
    padding-left: 10px;
}
.chat{

    
}