/*{
    
} */


.chatbot{
    /*  width: auto; */
    /* height: 500px; */
    align-items:flex-start;
    border: 10px solid greenyellow;
    display: flex;
    background-color: grey;
}

.top img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.top{
    justify-content: start;
    padding: 15px;
    align-items: center; 
    display: flex;
    background-color: aqua;
    
}
.bot-info{
    padding-left: 10px;
}

.chat{
    width: 100%;
    padding: 0 15px;
    color: white;
    position: relative;
    font-size: 0.9em;
}

.user{
    width: 60%;
    word-wrap: break-word;
    background-color: green;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.response{
    width: 60%;
    word-wrap: break-word;
    background-color: green;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 5px 0 5px;
}